/* global defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 12pt Helvetica, Arial;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fefefe;
	color: #010101;
}

h1 {
	font-size: 24pt;
	font-weight: bold;
}

h2 {
	font-size: 14pt;
	font-weight: bold;
}

h3 {
	font-size: 12pt;
	font-weight: bold;
}

div.break.double {
	padding-bottom: 1em;
}

div.break.half {
	padding-bottom: .25em;
}

div.break {
	padding-bottom: .5em;
}

div.gap {
	margin-left: .5em;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
	padding-bottom: .5em;
}

p {
	margin-bottom: 0 !important;
	padding-bottom: 1em;
}

a {
	color: blue;
}

.left {
	text-align: left;
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
}

/* header */
header {
	flex: 0 1 auto;
	justify-self: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* debugging */
	background: #c7bfff;
}

header div.navbar {
	justify-content: center;
}

/* footer */
footer {
	flex: 0 1 auto;
	justify-self: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/* debugging */
	background: #c7bfff;
}

/* central display */
.central {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	min-height: calc(100vh - 8.5em);
	margin: 0 10%;
}

@media screen and (max-width: 768px) {
	.central {
		margin: 0;
	}
}

.central p {
	padding-bottom: .5em;
}

/* components */
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.panel {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.constrained {
	align-self: center;
	max-width: 480px;
}

@media screen and (max-width: 480px) {
	.constrained {
	/*	align-self: stretch; */
		max-width: none;
	}
}

/* warning message */
.warning {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-end;
	border-style: solid;
	border-width: 2px;
	border-color: #ff0000;
	background: #ff6666;
}

/* flexbox tables */
.table {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.table .row {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

@media screen and (max-width: 480px) {
	.table .row {
		flex-direction: column;
	}
}

.table .row .col {
	flex: 1 1 1%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-width: 0;
}

.table .row .col.double {
	flex: 2 1 2%;
}

.table .row .col.half {
	flex: 0.5 1 0.5%;
}

@media screen and (max-width: 480px) {
	.table .row .col.double {
		flex: 2 1 2.5%;
	}
}

.table.noCollapse .row, .table .row.noCollapse {
	flex-direction: row;
}

/* mobile control */
.mobile.show {
	display: none;
}

.mobile.centered {
	text-align: initial;
}

@media screen and (max-width: 480px) {
	.mobile.show {
		display: inline-block;
	}

	.mobile.hide {
		display: none;
	}

	.mobile.centered {
		text-align: center;
	}

	/* hybrid of table and mobile control */
	.mobile.col.half {
		flex: 0.5;
	}
}

.scrollable {
	overflow-y: scroll;
	max-height: 300px;
}

/* custom styling */
.eggContainer {
	flex-direction: row;
	flex-wrap: wrap;
}

.eggPanel {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: center;
	max-width: 250px;
}

.eggPanel img {
	width: 250px;
	height: 250px;
}

@media screen and (max-width: 480px) {
	.eggContainer {
		flex-direction: column;
		align-items: center;
	}

	.eggPanel {
		flex: 1;
		max-width: initial;
	}
}

.boxContainer {
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background: lightblue;
}

.boxContainer.locked {
	background: pink;
}

.boxControls {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

.boxPanel {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: center;
	max-width: 250px;
	padding: 10px;
}

.boxPanel img {
	width: 150px;
	height: 150px;
}

@media screen and (max-width: 480px) {
	.boxContainer {
		align-items: center;
	}

	.boxControls {
		flex: 1 0 100%;
		flex-direction: row;
		justify-content: center;
	}

	.boxPanel {
		flex: 1;
		max-width: initial;
	}
}

.battleContainer {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
}

.battlePanel {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	border-color: pink;
}

.battlePartialPanel {
	display: flex;
	flex: 0 1 40%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-self: space-around;
}

@media screen and (max-width: 480px) {
	.battlePartialPanel {
		flex-direction: column;
	}
}

.battlePanel img {
	width: 150px;
	height: 150px;
}

.movePanel {
	display: flex;
	flex: 0 1 auto;
	width: 150px;
}

/* corrections */
.checkboxContainer {
	display: flex;
	flex-direction: row;
}

.checkbox {
	flex: 1;
	margin-top: 0.5em;
}

dl, ol, ul {
	padding-left: 40px;
}

@media screen and (max-width: 480px) {
	img.shrink {
		width: 250px;
		height: 250px;
	}
}

.col.noPadding {
	padding: 0;
}

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}